<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/vendor/css/bootstrap5/bootstrap.min.css" />
    <link rel="stylesheet" href="../../public/css/layout.css">
    <link href="../public/vendor/fontawesome/css/all.css" rel="stylesheet" /> <!--load all styles -->
</head>
<body>

    <form method="post" action="./customerForm.aspx" id="form1">

        <section id="page">
            <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">Navbar</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>


                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="index.aspx">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Dropdown
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="customerForm.aspx">Customer Form</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <span class="navbar-text">

                                Welcome back, <span id="LoginName1">rogerso</span>&nbsp;
                                <a id="LoginStatus1" class="p-2 roger" href="javascript:__doPostBack(&#39;ctl00$LoginStatus1$ctl00&#39;,&#39;&#39;)">Logout</a>

                            </span>
                        </div>


                    </div>
                </nav>
            </header>

            <nav>Navigation</nav>
            <main>
                <div class="right-content">
                    <div class="gutter">x</div>
                    <div class="center-gutter">
                        <div class="subheading mt-3 b">
                            <h2>Customer Form</h2>
                        </div>
                        <div class="subnav r">
                            <div class="controls">
                                <input class="mr-3" type="submit" name="ctl00$content$buttonNext" value="Next" id="content_buttonNext" />
                                <div id="content_Panel1" onkeypress="javascript:return WebForm_FireDefaultButton(event, &#39;content_buttonPositionTo&#39;)">
                                    <input type="submit" name="ctl00$content$buttonPositionTo" value="Position to" id="content_buttonPositionTo" />
                                    <input name="ctl00$content$textboxPositionTo" type="text" id="content_textboxPositionTo" placeholder="Position to value" />
                                </div>
                            </div>
                            <table class="gridview g" cellspacing="0" cellpadding="4" id="content_gridviewCust" 
                            style="color:#333333;border-collapse:collapse;">
                                <tr style="color:Black;background-color:Silver;font-weight:bold;">
                                    <th scope="col">Number</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">&nbsp;</th>
                                    <th scope="col">&nbsp;</th>
                                </tr>
                                <tr style="background-color:#E4E4E4;">
                                    <td >98100</td>
                                    <td>Union Career P Usa Co</td>
                                    <td><a href="javascript:__doPostBack(&#39;ctl00$content$gridviewCust&#39;,&#39;ActionEdit$0&#39;)" style="color:#333333;"><i class='fa-solid fa-pencil'></i></a></td>
                                    <td><a href="javascript:__doPostBack(&#39;ctl00$content$gridviewCust&#39;,&#39;ActionDelete$0&#39;)" style="color:#333333;"><i class='fa-light fa-trash-can'></i></a></td>
                                </tr>
                                <tr style="background-color:White;">
                                    <td ">34700</td>
                                    <td>Union Club Herald Transport Associates</td>
                                    <td><a href="javascript:__doPostBack(&#39;ctl00$content$gridviewCust&#39;,&#39;ActionEdit$1&#39;)" style="color:#333333;"><i class='fa-solid fa-pencil'></i></a></td>
                                    <td><a href="javascript:__doPostBack(&#39;ctl00$content$gridviewCust&#39;,&#39;ActionDelete$1&#39;)" style="color:#333333;"><i class='fa-light fa-trash-can'></i></a></td>
                                </tr>
                                <tr style="color:White;background-color:Silver;font-weight:bold;">
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="gutter">x</div>
                </div>

            </main>
            <footer>Footer</footer>
        </section>

    </form>

</body>
</html>